.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 60vh;
  padding: 12px;
  box-shadow: 0 0 15px #848484;
  border-radius: 8px;
}

.user-form label {
  font-family: roboto;
  margin-bottom: 5px;
}

.user-form input {
  height: 20px;
  margin-bottom: 5px;
  border: solid 1px #000000;
  border-radius: 2px;
}